
.homepage {
  text-align: center;
  color: #2e1503; /* Warm brown color */
  background-color: #f8d7a9; /* Light, festive background */
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;

  h1 {
    color: #c0392b; /* Holiday red */
    text-shadow: 2px 2px 2px #fff;
  }

  p {
    text-shadow: 1px 1px 1px #fff;
  }

}

.homepage {
  font-family: 'Mountains of Christmas', cursive;
}

img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}
